@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@import "flowbite/src/themes/default";

* {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #0c0c0c;
}

.profile-gradient svg {
  color: white;
}

.profile-gradient:hover {
  background: linear-gradient(135deg, #a855f7, #14b8a6, #ef4444);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  transition: 0.6s;
}

.profile-gradient:hover svg {
  color: #14b8a6;
  transition: 0.6s;
}

.animate-gradient {
  background: linear-gradient(135deg, #a855f7, #14b8a6, #ef4444);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: gradient 2s ease infinite;
}

.animate-gradient-button {
  background: linear-gradient(90deg, #a855f7, #14b8a6, #ef4444);
  background-size: 200%;
  color: white;
  animation: gradient 6s ease infinite;
}

.sign-up {
  background: linear-gradient(120deg, #06b6d4, #0d9488, #15803d);
  background-size: 200%;
  color: white;
  animation: gradient 5s ease-in-out infinite;
}

.sign-in {
  background: linear-gradient(120deg, #06b6d4, #0d9488, #15803d);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: gradient 2s ease infinite;
}

.gradient-swap-button {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to left, #06b6d4, #0d9488, #15803d);
}

.gradient-swap-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(to right, #06b6d4, #0d9488, #15803d);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.gradient-swap-button:hover::before {
  opacity: 0;
}

/* options */

.gradient-swap-button-options {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right, #06b6d4, #0d9488, #15803d);
}

.gradient-swap-button-options::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(to left, #06b6d4, #0d9488, #15803d);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.gradient-swap-button-options:hover::before {
  opacity: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}
